extends layout

block scripts
  script.
    window.onload = function () {
      const ui = SwaggerUIBundle({
        url: '/doc/swagger.yaml',
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout",
        validatorUrl: false
      })
      window.ui = ui
    }